In [62]:
import pandas as pd

### Loading the file into application

In [63]:
agg_df= pd.read_csv('aggreko.csv')

### Checking the content of the file

In [64]:
agg_df.head()

       re                 le  be
0  Normal             Normal NaN
1  Normal             Normal NaN
2     NaN                NaN NaN
3  Normal  Mild Hearing Loss NaN
4  Normal             Normal NaN

### Viewing the columns

In [65]:
agg_df.columns

Index(['re', 'le', 'be'], dtype='object')

### Checking a few statistics

In [66]:
agg_df['le'].value_counts()

Normal                   33
Mild Hearing Loss        22
Moderate Hearing Loss     2
Name: le, dtype: int64

In [67]:
agg_df.re.value_counts()

Normal                   46
Mild Hearing Loss         5
Severe Hearing Loss       4
Moderate Hearing Loss     2
Name: re, dtype: int64

In [68]:
agg_df.count()

re    57
le    57
be     0
dtype: int64

### Shortening the values of all columns to allow for shorter codes to improve readability

In [69]:
for col in agg_df.columns:
    agg_df[col]= agg_df[col].apply(lambda x:'Nrm' if x== 'Normal'\
                                    else 'Mld' if x== 'Mild Hearing Loss'\
                                    else 'Sev' if x== 'Severe Hearing Loss'\
                                    else 'Mod' if x== 'Moderate Hearing Loss'\
                                    else x)

### Checking the dataset to ensure changes are effected

In [70]:
agg_df.head(10)

    re   le  be
0  Nrm  Nrm NaN
1  Nrm  Nrm NaN
2  NaN  NaN NaN
3  Nrm  Mld NaN
4  Nrm  Nrm NaN
5  Nrm  Nrm NaN
6  Nrm  Nrm NaN
7  Nrm  Mld NaN
8  Nrm  Nrm NaN
9  Nrm  Nrm NaN

### Populating the 'be' column based on the value in 're' and 'le' columns

In [88]:
for z in range(57):
    if agg_df['re'][z]== agg_df['le'][z]== 'Nrm':
        agg_df['be'][z]= 'Normal'
    elif agg_df['re'][z]== agg_df['le'][z]== 'Mld':
        agg_df['be'][z]= 'Mild'
    elif agg_df['re'][z]== agg_df['le'][z]== 'Mod':
        agg_df['be'][z]= 'Morderate'
    elif agg_df['re'][z]== agg_df['le'][z]== 'Sev':
        agg_df['be'][z]= 'Severe'
    else:
        agg_df['be'][z]= 'Other'

C:\Users\Stephen Odutola\AppData\Local\Temp\ipykernel_14000\708000932.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['be'][z]= 'Normal'

### Examining the dataset to confirm the 'be' column is correctly populated.

In [90]:
agg_df.head(10)

    re   le      be
0  Nrm  Nrm  Normal
1  Nrm  Nrm  Normal
2  NaN  NaN   Other
3  Nrm  Mld   Other
4  Nrm  Nrm  Normal
5  Nrm  Nrm  Normal
6  Nrm  Nrm  Normal
7  Nrm  Mld   Other
8  Nrm  Nrm  Normal
9  Nrm  Nrm  Normal

### Checking the value distribution of the 'be' column

In [91]:
agg_df.be.value_counts()

Normal    30
Other     23
Mild       4
Name: be, dtype: int64

# END